body{
    height: 100%;
    width: 100%;
    /*background-image: url(https://images.unsplash.com/photo-1611034041411-86ec26dd8e42?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGxpZ2h0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);*/
    /*background-image: url(https://images.unsplash.com/photo-1545164837-4edab75a3560?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGxpZ2h0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);*/
    /*background-image: url(https://images.unsplash.com/photo-1586118338193-0614927b307f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGxpZ2h0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);*/
    background-image: url(https://images.unsplash.com/photo-1611110350895-79ff73dcbc4c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGxpZ2h0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size:contain;
}

.space{
    position: absolute;
    margin-left:17.5%;
    margin-top: 8.5%;
    height: 70%;
    width: 65%;
    background-color: rgba(201, 159, 255, 0.822);
}

.cc{
    height: 80%;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
}

.tir{
    color: rgb(247, 243, 231);
    margin-left: 39%;
    font-size: 20px;
    font-weight: bold;
}